.trade-group {
  margin-top: 20px;
}

.trade-group__header {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

@media (max-width: 800px) {
  .trade-group__header {
    width: 100%;
  }
}
